.button {
  background-color: transparent;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  height: 35px;
  width: 100px;
  color: #666666;
  &:focus {
    border: none;
    outline: none;
  }
  &.is-green {
    background-color: $green;
    color: white;
    margin-top: 1em;
    border: 0;
  }
  &.is-light {
    border: 0;
    font-weight: 600;
    color: #999999;
  }
}

// Calendar

.calendarBox {
  height: 320px;
  font-family:'Open Sans';
  border-radius:8px 8px 0px 0px;
  .container {
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 30px 0 rgba(0,0,0,0.15);
    width: 700px;
    padding: 1em 2em 2em 2em;
    display: flex;
    flex-direction: column;
    max-width: 650px;
    margin: 0;
    display: none;
  }
}
.container_calendar {
    display: flex;
    border-bottom: 1px solid #EEEEEE;
}
.ui-datepicker-header{
  color: #333333;
  font-weight: 600;
  text-align:center;
  font-family:'Open Sans';
  height:40px;
  border-radius:8px 8px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.ui-datepicker-year{
  display: none;
}

.ui-datepicker-prev span,
.ui-datepicker-next span{
  display:none;
}

.ui-datepicker-prev:after{
  content:"<";
  font-size:2rem;
  float:left;
  margin-left:10px;
  cursor:pointer;
}


.ui-datepicker-next:after{
  content:">";
  float:right;
  font-size:2rem;
  margin-right:10px;
  cursor:pointer;
}
.ui-datepicker-calendar th{
  padding:10px;
  color: #DDDDDD;
  font-weight: 400;
  font-size: 12px;
}

.ui-datepicker-calendar {
    text-align:center;
    margin-bottom: 1em;
    padding:8px;
}

.ui-datepicker-title{
  padding:10px;
}

.ui-datepicker-calendar td {
  height: 36px;
  width: 36px;
  color: #999999;
  font-family: 'Open Sans';
}

.ui-datepicker-calendar .ui-state-default {
  text-decoration:none;
  color:black;
}

.calendar_1 {
  .ui-datepicker-calendar .ui-state-active {
    height: 36px;
    width: 36px;
    background-color: #00A78A;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

}

.calendar_1 {
  a.ui-datepicker-next.ui-corner-all {
    display: none;
  }
}
.calendar_2 {
  a.ui-datepicker-prev.ui-corner-all {
    display: none;
  }
}
a.ui-datepicker-prev.ui-corner-all {
  position: absolute;
  left: 0;
  color: #979797;
}
a.ui-datepicker-next.ui-corner-all {
  position: absolute;
  right: 0;
  color: #979797;
}
