// Input

.form-group {
  display: flex;
  box-shadow: 2px 0px 20px 5px rgba(0, 0, 0, 0.2);

}
.form-control {
  width: 95%;
  border-radius: 0;
  &:focus {
    border: 0;
  }
}
.input-group-addon {
  width: 5%;
  background-color: $green;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: $greenLight;
  }
}

// Autocomplete

.ui-helper-hidden-accessible {
  display: none;
}
.bs-autocomplete-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow: auto;
  z-index: 9999;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.4);
}

.bs-autocomplete-menu a {
  font-weight: normal;
  color: #333333;
}
