.container_slider {
  position: relative;
  .left, .right {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 30px 0 rgba(0,0,0,0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 37%;
    &:before {
      font-size: 2em;
    }
  }
  .right {
    right: -1em;
  }
  .left {
    left: -2em;
    display: none;
  }
}
.slider {
  img {
    width: 90% !important;
  }
}
